/* General Styles
   ========================================================================== */ 
   html, body{
    height: 100%;
   
}
.container{
    margin-top: 2em;
    padding: 1em;
}

/* ========================================================================== */ 



/* Navigation Styles
========================================================================== */ 


/* ========================================================================== */ 




/* Image Styles
========================================================================== */ 


/* ========================================================================== */ 



/* Footer Styles
========================================================================== */ 
footer{
    /* background-color: #3A3535; */
    color: white;
    position: absolute;
   bottom: 0;


 
}
/* ========================================================================== */ 


h1{
    font-family: 'Srisakdi', cursive;
    font-size: 5em;
}

